body{
    text-align: center;
    height: 100%;
    width: 1280px; 
    margin-left: auto;
    margin-right: auto;
}
#user{
    background: url(/images/butt/back2.png) no-repeat;
    background-position: 66%;
    padding-top: 10px;
    height: 700px;
    text-align: center;
}
#mess{
    font-size: 22px;
    position: relative;
    top: 20px;
}
#dash{ 
    background: url(/images/butt/TV.png) no-repeat;
    position: relative; 
    top: 254px;
    left: 14px;
    width: 530px;
    height: 350px;
}
#panl {
    width:  100%;
    height: 60px;
    margin-top: 25px;
}
#addr{
    float:  left;
    width:  90px;
    height: 44px;
    background: #c7ecef;
}
#total{
    font-size: 20px;
    line-height: 25px;
    padding: 5px 10px;
    border-radius: 5px;
    vertical-align: middle;
    margin: 2px;
    color: #000;
    border: 1px solid #d6e900;
    background: #2db9f4;
}
.numb{
    font-size: 20px;
    line-height: 25px;
    padding: 5px 10px;
    border-radius: 5px;
    vertical-align: middle;
    margin: 2px;
    color: #000;
    border: 1px solid #d6e900;
    background:#2de2f4;
}
#address {
    padding: 1px 1px 1px 10px;
    font-size: 2.1em;
    float: left;
}
#search {
    position: relative;
    margin-right: 12px;
    float: left;
    bottom: 1px;
    border: 1px solid;
    background: #c7ecef;
}
#logo {
    float: left;
    width: 125px;
}
#tit{
    float: left;
    width: 52%;
    font-size: 40px
}
#Clock { 
    width: 90px;
    height: 70px;
    float: left;
}
#Date { 
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif; 
    font-size: 18px;
    margin: auto;
    text-shadow: 0 0 5px gray; 
    float: left;
}
#timer { 
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif; 
    font-size: 18px;
    margin: 4px;
    text-shadow: 0 0 5px gray; 
    float: left;
}
#hours { 
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif; 
    font-size: 18px;
    margin-bottom: 11px;
    text-shadow: 0 0 5px gray; 
    float: left;
}
#min { 
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif; 
    font-size: 18px;
    margin-bottom: 11px;
    text-shadow: 0 0 5px gray; 
    float: left;
}
#sec { 
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif; 
    font-size: 18px;
    margin-bottom: 11px;
    text-shadow: 0 0 5px gray; 
    float: left;
}
#Logo {
    float: left;
    margin-right: 17px;
    border-radius: 5px;
    border: 1px solid black;
    background: #819abb;
}
#weather {
    float: left;
    margin: 8px 10px 10px 10px;
    position: relative;
    top: -10px;
}
#rating {
    float: left;
    width: 23%;
    padding-left: 10px;
}
#dime {
    color: white;
    font-size: 1.5em;
    margin-bottom: 6px;
}
#data {
    float: left;
    margin-right: 10px;
    width: 29%;
}
#text {
    float: left;
    margin-right: 10px;
    width: 75%;
}
#pers {
    float: left;
    margin-top: 74%;
    width: 22%;
}
.port {
    width: 87%;
    margin-bottom: 3.8px;
}
#pics {
    float: left;
    width: 57%;
    height: 3028px;
}
#imgs {
    float: left;
    width: 743px;
    height: 345px;
    background: url(/images/bill/TV01.jpg) no-repeat;
    background-size: 74% 103%;
}
#shot {
    float: left;
    margin-left: 19px;
    margin-top: 20px;
    margin-right: 185px;
}
.bill {
    float: left;
    margin-top: 13px;
    width: 20%;
    height: 40%;
}
#title1 {
    color: white;
    margin: auto;
    float: left;
    width: 100%;
}
#title2 {
    color: #19b5c4;
    margin: auto;
    float: left;
    width: 100%;
    font-size: 13px;
}
#imgsk {
    float: left;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
#imgsf {
    float: left;
}
#foto{
    float: left;
    width: 352px;
    margin-top: 16px;
    margin-bottom: 10px;
    margin-right: 18px;
}
#post{
    width: 161px;
    margin-left: 7px;
    margin-top: 18px;
    margin-bottom: -2px;
}
.kadr{
    margin: 2px;
    width: 48%;
}
.kads{
    float: left;
}
.image{
    width: 115px;
    margin: 4px;
}
#rcol{
    float: left;
    margin-left: 8px;
    text-align: center;
    width: 9.5%;
}
#nav {
    float: left;
}
#rigt {
    float: left;
}
table {
    float:left;
    width: 100%;
}
hr {
    margin-bottom: 10px;
}
select {
    width: 276px;
    height: 21px;
    font-size: 16px;
}
a.tip:hover {
    position: relative
}
a.tip span {
    display: none
}
a.tip:hover span {
    font-size: 20px;
    border: #c0c0c0 1px dotted;
    padding: 1px 20px 5px 5px;
    display: block;
    z-index: 100;
    background: #f0f0f0;
    left: -250px;
    margin: 8px;
    width: 200px;
    position: absolute;
    text-decoration: none
}
#imdb {
    font-size: 30px;
    color: #ff2500;
    font-style: italic;
}
.chek {
    zoom: 2;
    position: relative;
    left: -60px;
    top: 18px;
}
.chekit {
    zoom: 2;
    position: relative;
    left: -60px;
    top: -3px;
}
.dims {
    width: 350px;
    float: left;
    margin-left: 4px;
    height: 280px;
}
.del{
    float: left;
    margin: 10px;
}
#inst{
    float: left;
    margin-left: 215px;
    margin-right: 12px;
}
.flag{
    width: 100px;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}
