body{
    background: url(/images/0/scene.jpg);
}
.Logo {
    height: 30px;
    width: 102px;
    margin: 15px 8px 3px 0px;
    border: 1px solid black;
    background: #819abb;
}
#logo {
    float: left;
    width: 100px;
}
#addr{
    width:  10%;
    height: 43px;
    margin: 10px 1px 1px 15px;
}
#address {
    margin: 10px 1px 7px 1px;
    padding: 1px 1px 1px 10px;
    font-size: 1.4em;
    width: 47%;
}
#search {
    margin: 10px 5px 1px 1px;
}
#user{
    background: url(/images/0/back2.png) no-repeat;
    background-position: 100%;
    padding-top: 10px;
    height: 700px;
    text-align: center;
}
#mess{
    font-size: 22px;
    position: relative;
    top: 20px;
}
#dash{ 
    background: url(/images/0/TV.png) no-repeat;
    position: relative; 
    top: 254px;
    left: 14px;
    width: 530px;
    height: 350px;
}
label {
    margin-left: 20px;
}
#panl {
    width:  100%;
    height: 70px;
    margin-top: 25px;
}
.numb{
    text-align: center;
    font-size: 25px;
    padding: 5px 10px;
    border-radius: 5px;
    vertical-align: middle;
    border: 1px solid #d6e900;
}
#tit{
    float: left;
    width: 52%;
    font-size: 40px;
    text-align: center;
}
#Clock { 
    height: 50px;
    width: 9%;
    margin: 4px 1px 1px 1px;
    border: 1px solid #d6e900;;
    padding: 1px 1px 1px 6px;
    border-radius: 5px;
}
#Date { 
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif; 
    font-size: 12px;
    margin: 0 21%;
    text-shadow: 0 0 5px gray; 
    float: left;
}
#timer { 
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif; 
    text-shadow: 0 0 5px gray; 
    margin: 0 14%;
}
#hours { 
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif; 
    font-size: 18px;
    text-shadow: 0 0 5px gray; 
    float: left;
}
#min { 
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif; 
    font-size: 18px;
    text-shadow: 0 0 5px gray; 
    float: left;
}
#sec { 
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif; 
    font-size: 18px;
    text-shadow: 0 0 5px gray; 
    float: left;
}
#weather {
    margin: 5px 1px 1px 1px;
}
#tot{
    font-size: 20px;
    line-height: 25px;
    padding: 5px 10px;
    border-radius: 5px;
    vertical-align: middle;
    margin: 10px;
    color: #000;
    border: 1px solid #d6e900;
    background: #2db9f4;
}
.label1 {
    float: left;
    width: 30%;
    font-size: 15px;
}
.label2 {
    float: left;
    width: 70%;
}
#rating {
    float: left;
    width: 23%;
    padding-left: 10px;
}
#dime {
    color: white;
    font-size: 1em;
    margin-bottom: 6px;
}
#pers {
    margin-top: 101%;
}
.port {
    width: 69px;
    margin-left: 10px;
}
.post {
    margin: 0 10px;
}
#pics {
    width: 100%;
}
#imgs {
    float: left;
    width: 743px;
    height: 300px;
    background: url(/images/0/TV01.png) no-repeat;
    background-size: 74% 100%;
}
#shot {
    float: left;
    margin-left: 19px;
    margin-top: 20px;
    width: 73%;
    text-align: center;
}
.bill {
    float: left;
    margin: 5px;
    width: 20%;
    height: 40%;
}
#title1 {
    text-align: center;
    color: white;
    margin: auto;
    float: left;
    width: 100%;
}
#title2 {
    text-align: center;
    color: #19b5c4;
    margin: auto;
    float: left;
    width: 100%;
    font-size: 13px;
}
#images {
    width: 10%;
}
#img {
    margin-right: 20%;
}
#imgsk {
    float: left;
    height: 100%;
    width: 100%;
}
#imgsf {
    float: left;
}
#foto{
    float: left;
    width: 352px;
    margin: 18px;
}
#post{
    padding-left: 6px;
    margin-top: 14px;
}
.kadr{
    margin: 2px;
    width: 48%;
}
.kads{
    float: left;
}
.image{
    width: 100%;
}
#rcol{
    float: left;
    margin-left: 8px;
    text-align: center;
    width: 10%;
}
#rigt {
    float: left;
    text-align: center;
    margin-left: 8px;
}
hr {
    margin-bottom: 10px;
}
select {
    width: 276px;
    height: 21px;
}
a.tip:hover {
    position: relative
}
a.tip span {
    display: none
}
a.tip:hover span {
    font-size: 20px;
    border: #c0c0c0 1px dotted;
    padding: 1px 20px 5px 5px;
    display: block;
    z-index: 100;
    background: #f0f0f0;
    margin: 8px;
    width: 200px;
    position: absolute;
    text-decoration: none
}
#reit {
    width: 10%;
    float: left;
}
#imdb {
    float: left;
    width: 94%;
    margin-left: 3%;
}
.chek {
    zoom: 2;
    position: relative;
    top: 18px;
}
.chekit {
    zoom: 2;
    position: relative;
    left: -36px;
    top: -15px;
}
.dims {
    width: 350px;
    float: left;
    margin-left: 4px;
    height: 280px;
}
.del{
    float: left;
    margin: 10px;
}
#inst{
    float: left;
    margin-left: 215px;
    margin-right: 12px;
}
.flag{
    width: 100px;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}
