<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>kshisa</title>
    <link rel="stylesheet" href="/static/css/cms.css" />
    <link rel="stylesheet" href="/static/css/star-rating-svg.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js">
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<form method="post" id="pass" action="/">
    [% text  %]
    [% root  %]
</form>
<script>
    $(function() {
        $("#rating").starRating({
            totalStars: 10,
            emptyColor: 'lightgray',
            hoverColor: 'salmon',
            activeColor: 'cornflowerblue',
            strokeWidth: 0,
            useGradient: false
       });
    });
    function subm1(){
        var subm = document.getElementById("pass");
        subm.submit();
    }
    $(document).ready(function() {
        var monthNames = 
        [ "January", "February", "March", "april", "May", "June", "July", "August", "September", "October", "November", "December" ]; 
        var dayNames= ["Sun","Mon","Tue","Wen","Thu","Fri","Sut"]
        var h = $("#hours").text();
        h = Number(h);
        var m = $("#minut").text();
        m = Number(m);
        var h1 = 0;
        var newDate = new Date();
        newDate.setDate(newDate.getDate());

        $('#Date').html(dayNames[newDate.getDay()] + " " + newDate.getDate() + 
           ' ' + monthNames[newDate.getMonth()]);

    setInterval( function() {
        var seconds = new Date().getSeconds();
        $("#sec").html(( seconds < 10 ? "0" : "" ) + seconds);
    },1000);
    
    setInterval( function() {
        var minutes = new Date().getMinutes();
        $("#min").html(( minutes < 10 ? "0" : "" ) + minutes + "::");
        minutes = minutes + m;
        if (minutes > 59) {
            minutes = minutes-60;
            h1 = 1;
        }
    },1000);
    
    setInterval( function() {
        var hours = new Date().getHours();
        $("#hours").html(( hours < 10 ? "0" : "" ) + hours + "::");
        hours = hours + h + h1;
        if (hours > 23) {
            hours = hours - 24;
        }
    }, 1000);   
    });
</script>
<script src="../static/javascript/tv.js"></script>
<script src="../static/javascript/jquery.star-rating-svg.js"></script>
</body>
</html>
