<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>kshisa127</title>
    <link rel="stylesheet" href="/static/css/cms.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <form method="post" action="/cms">
        [% panel %]
        [% rigtp %]
        [% forml %]
        [% pices %]
        [% formr %]        
    </form>
</body>